<header>
  <app-navigation></app-navigation>
</header>
<div class="jumbotron">
  <div class="container">
    <h1>Find an arcticle</h1>
    <p>Search for an article using the form below:</p>
    <form #form="ngForm" (ngSubmit)="search(form.value)">
      <input type="text" class="form-control" name="search" ngModel>
      <button type="sumbit" name="submitButton" class="btn btn-primary"><i class="fa fa-fw fa-search"></i>Search</button>
    </form>
  </div>
  <div>
    <div class="container">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        Articles
      </h3>
      <div class="row">
        <div class="col-md-6" *ngFor="let article of articles">
          <app-article [article]="article"></app-article>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="container">
  <p>© MovieDB</p>
</footer>