<app-navigation></app-navigation>
<main>
  <div class="jumbotron">
    <div>
    </div>
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <h1>Register</h1>
        <form #form="ngForm" (ngSubmit)="register()">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="username" class="form-control" placeholder="User Name*" required name="username"
              [(ngModel)]="model.username" #username="ngModel">
          </div>
          <div class="alert alert-danger"
            *ngIf="form.controls.username?.touched && form.controls.username.errors?.required">
            The field is required!
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="fullname" pattern="[A-Z][a-z]+\s[A-z][a-z]+" class="form-control" placeholder="Full Name*"
              required name="fullname" [(ngModel)]="model.fullname" #fullname="ngModel">
          </div>
          <div class="alert alert-danger"
            *ngIf="form.controls.fullname?.touched && form.controls.fullname.errors?.required">
            The field is required!
          </div>
          <div class="alert alert-danger" *ngIf="form.controls.fullname?.errors?.pattern">
            The full name input field must contain two names (letters only) separated by a space!
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input name="email" pattern="\S+@\S+" class="form-control" placeholder="Email Address" type="email" required
              name="email" [(ngModel)]="model.email" #email="ngModel">
          </div>
          <div class="alert alert-danger" *ngIf="form.controls.email?.touched && form.controls.email.errors?.required">
            The field is required!
          </div>
          <div class="alert alert-danger" *ngIf="form.controls.email?.errors?.pattern">
            Invalid email!
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <select class="input-group-prepend" style="max-width: 120px;">
              <option value="{{number}}" *ngFor="let number of getNumbers">{{number}}</option>
            </select>
            <input name="phoneNumber" pattern="\d{9}" class="form-control" placeholder="Phone number" type="text"
              name="phoneNumber" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel">
          </div>
          <div class="alert alert-danger" *ngIf="form.controls.phoneNumber?.errors?.pattern">
            Invalid phone number!
          </div>
          <div ngModelGroup="passwords">
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input name="passwords" pattern="[A-Za-z0-9]{3,16}" class="form-control" placeholder="Create password"
                type="password" required name="password" [(ngModel)]="model.password" #password="ngModel">
            </div>
            <div class="alert alert-danger"
              *ngIf="form.controls.passwords?.controls.password?.touched && form.controls.passwords?.controls.password?.errors?.required">
              The field is required!
            </div>
            <div class="alert alert-danger" *ngIf="form.controls.passwords?.controls.password?.errors?.pattern">
              The password input field must be between 3 and 16 symbols and must contain only letters and digits.
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
              </div>
              <input name="confirmPassword" pattern="[A-Za-z0-9]{3,16}" class="form-control"
                placeholder="Repeat password" type="password" required name="confirmPassword"
                [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel">
            </div>
            <div class="alert alert-danger"
              *ngIf="form.controls.passwords?.controls.confirmPassword?.touched && form.controls.passwords?.controls.confirmPassword?.errors?.required">
              The field is required!
            </div>
            <div class="alert alert-danger"
              *ngIf="form.controls.passwords?.controls.password.value != form.controls?.passwords?.controls.confirmPassword.value">
              Mismatch Password!
            </div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-image"></i> </span>
              <input name="photo" placeholder="image" type="file" name="photo" [(ngModel)]="model.photo"
                #photo="ngModel">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid"> Create Account </button>
          </div>
          <div>{{registerMsg}}</div>
          <p class="text-center">Have an account? <a routerLink="/login">Log In</a> </p>
        </form>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</main>