<ng-template [ngIf]="userData">
    <div class="div class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center>
        <div class="jumbotron">
            <h1 class="panel-title">{{userData.username}}</h1>
            <img class="Thumbnail" *ngIf="userData.photo" alt="Thumbnail [200x250]" src="{{userData.photo}}">
            <ul class="list-group">
                <li class="list-group-item">FullName: <span>{{userData.fullname}}</span></li>
                <li class="list-group-item">Member since: <span>{{userData['_kmd']['lmt'] | date: 'dd/MM/yyyy'}}</span>
                </li>
                <li class="list-group-item">Email: <span> {{userData.email}}</span></li>
                <li class="list-group-item" *ngIf="userData.phoneNumber">Phone number:
                    <span>{{userData.phoneNumber}}</span></li>
            </ul>
            <div id="buttons">
                <button type="button" class="btn btn-success" [routerLink]="['/myProfile', userData['_id'], 'edit']">Edit user info</button>
                &nbsp;
                <button type=" button" class="btn btn-danger" (click)="destroy()">Delete account</button>
            </div>
        </div>
    </div>
</ng-template>