h1 {
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    color: #147a9e!important;
    font-family: Song Myung,Helvetica,Arial,sans-serif;
  }
  
  input.ng-valid {
    border-left: 5px solid #42A948; /* green */
  }
  
  input.ng-invalid.ng-touched {
    border-left: 5px solid #A94442; /* red */
  }
  
  .container{
    background-color: #e9ecef;
  }
  
  .alert-danger {
    background-color: #bc204b;  
    color: #fff;
  }
  
  button {
    cursor: not-allowed;
  }
  
  .navbar {
    margin-bottom: 0px;
  }
  
  .jumbotron {
    margin-bottom: 0rem;
    margin: auto;
    border: 2px solid black;
    color: black;
    width: 100%;
  }

  #buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }
  