.jumbotron {
    margin-bottom: 0rem;
    margin: auto;
    border: 2px solid black;
    color: black;
    width: 100%;
  }
  .card {
    margin: auto;
    border: 2px solid black;
    max-width: auto
  }
  h3 {
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    color: #147a9e!important;
    font-family: Song Myung,Helvetica,Arial,sans-serif;
  }
  h1 {
    color: #147a9e!important;
    font-family: Song Myung,Helvetica,Arial,sans-serif;
  }

  button {
    margin-top: 5px;
    background-color: #17a2b8;
  }
