<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
  <div class="jumbotron">
    <h1 class="panel-title" *ngIf="isUserPage">My articles</h1>
    <h1 class="panel-title" *ngIf="!isUserPage">Admin panel - Article management</h1>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let article of (articles$ | async);">
        <app-article-user [article]="article"></app-article-user>
        <div id="buttons">
          <button type="button" class="btn btn-info" [routerLink]="['/articles/details',article['_id']]">Article
            details</button>
          &nbsp;
          <button type="button" class="btn btn-success" [routerLink]="['/articles/details',article['_id'], 'edit']">Edit
            article</button>
          &nbsp;
          <button type="button" class="btn btn-danger" (click)="deleteArticle(article['_id'])">Delete
            article</button>
        </div>
      </li>
    </ul>
  </div>
</div>