<app-navigation></app-navigation>

<main>
  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <h1>Login</h1>
        <form #form="ngForm" (submit)="login()">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="username" class="form-control" placeholder="User Name*" required name="username"
              [(ngModel)]="model.username" #username="ngModel">
          </div>
          <div class="alert alert-danger"
            *ngIf="form.controls.username?.touched && form.controls.username.errors?.required">
            The field is required!
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name="password" pattern="[A-Za-z0-9]{3,16}" class="form-control" placeholder="Type your password"
              type="password" required [(ngModel)]="model.password" #password="ngModel">
          </div>
          <div class="alert alert-danger"
            *ngIf="form.controls.password?.touched && form.controls.password.errors?.required">
            The field is required!
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid"> Log In </button>
          </div>
          <p>Don't have an account? <a routerLink="/register">register here</a></p>
        </form>
        <div class="col-lg-4"></div>
      </div>
    </div>
  </div>
</main>