<ng-template [ngIf]="article">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
		<div class="jumbotron">
			<h1 class="panel-title">{{article['headline']}}</h1>
			<img *ngIf="article['image']" class="Thumbnail" alt="Thumbnail [200x250]" src="{{article['image']}}">
			<ul class="list-group">
				<li class="list-group-item">Author: <span>{{article['author']}}</span></li>
				<li class="list-group-item">Published: <span>
						{{article['_kmd']['ect'] | date: 'fullDate'}}</span></li>
				<li *ngIf="article['_kmd']['ect']!= article['_kmd']['lmt']" class="list-group-item">Modified:<span>
						{{article['_kmd']['lmt'] | date: 'fullDate'}}</span></li>
				<li class="list-group-item">
					<p>{{article['content']}}</p>
				</li>
			</ul>
			<div *ngIf="isAuthor(article)" id="buttons">
				<button type="button" class="btn btn-success" routerLink="/articles/details/{{article._id}}/edit">Edit
					article</button>
				&nbsp;
				<button type="button" class="btn btn-danger" (click)="deleteArticle(article['_id'])">Delete
					article</button>
			</div>
			<div id="createComment">
				<app-create-comment [articleId]="article._id" (articleCommentEmitter)="loadComments()">
				</app-create-comment>
			</div>
			<div id="commentList">
				<button class="accordion" (click)="isExpanded=!isExpanded" type="button" data-toggle="collapse" data-target="#collapseExample"
				 aria-expanded="false" aria-controls="collapseExample" *ngIf="(comments$ | async)?.length">
					<span *ngIf="isExpanded==false">Show comments</span>
					<span *ngIf="isExpanded==true">Hide comments</span>
				</button>
				<div class="collapse" id="collapseExample">
					<div class="card card-body">
						<app-comment-details *ngFor="let commentInfo of (comments$ | async)" [commentInfo]="commentInfo"
						 (deleteCommentEmitter)="deleteComment($event)">
						</app-comment-details>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>