<ng-template [ngIf]="articleDetails">
	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<h1 class="panel-title">{{articleDetails.title}}</h1>
				<img class="thumbnail" src="//placeimg.com/650/250/arch">
				<ul class="list-group">
					<li class="list-group-item">Author: <span>{{articleDetails.author}}</span></li>
					<li class="list-group-item">Creation Date: <span> {{articleDetails.creationDate}}</span></li>
					<li class="list-group-item"><p>{{articleDetails.content}}</p></li>
				</ul>

				<button type="button" class="btn btn-danger" (click)="destroy()">Delete my account</button>
			</div>
		</div>
	</div>
</ng-template>