<ng-template [ngIf]="article">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
		<div class="jumbotron">
			<h1 class="panel-title">{{article['headline']}}</h1>
			<img *ngIf="article['image']" class="Thumbnail" alt="Thumbnail [200x250]" src="{{article['image']}}">
			<ul class="list-group">
				<li class="list-group-item">Author: <span>{{article['author']}}</span></li>
				<li class="list-group-item">Published: <span>
						{{article['_kmd']['ect'] | date: 'fullDate'}}</span></li>
				<li *ngIf="article['_kmd']['ect']!= article['_kmd']['lmt']" class="list-group-item">Modified:<span>
						{{article['_kmd']['lmt'] | date: 'fullDate'}}</span></li>
				<li class="list-group-item">
					<p>{{article['content']}}</p>
				</li>
			</ul>
			<div *ngIf="isAuthor(article)" id="buttons">
				<button type="button" class="btn btn-success" routerLink="/articles/details/{{article._id}}/edit">Edit
					article</button>
				&nbsp;
				<button type="button" class="btn btn-danger" (click)="deleteArticle(article['_id'])">Delete
					article</button>
			</div>
			<div id="createComment">
				<app-create-comment [articleId]="article._id"></app-create-comment>
			</div>
		</div>
	</div>
</ng-template>