<ng-template [ngIf]="userData">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h1 class="panel-title">{{userData.username}}</h1>
                <img class="thumbnail" src="//placeimg.com/650/250/arch">
                <ul class="list-group">
                    <li class="list-group-item">FullName: <span>{{userData.fullname}}</span></li>
                    <li class="list-group-item">Email: <span> {{userData.email}}</span></li>
                    <li class="list-group-item" *ngIf="userData.phonenumber">Phone number: <span>{{userData.phonenumber}}</span></li>
                </ul>
                <button type="button" class="btn btn-danger" (click)="destroy()">Delete my account</button>
            </div>
        </div>
    </div>
</ng-template>