 nav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    margin: auto;
    text-decoration: none;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#admin {
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.dropdownItem {
  font-weight: bold;
  color: #147a9e!important;
  font-family: Song Myung,Helvetica,Arial,sans-serif;
  cursor: auto;
}
