img {
    max-height: 250px;
    max-width: 250px;
}

.text-dark {
    font-style: italic;
}
span {
    font-weight: bold;
}

button {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}


