<ng-template [ngIf]="article">
   <div class="card flex-md-row mb-4 shadow-sm h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
         <strong class="d-inline-block mb-2 text-primary">{{article.headline}}</strong>
         <h6 class="mb-0">
            <a class="text-dark" href="#">Creator: <span>{{article.author}}</span></a>
         </h6>
         <div *ngIf="article['_kmd']['ect']== article['_kmd']['lmt']" class="mb-1 text-muted small">Published:
            <span>{{article['_kmd']['ect'] | date: 'fullDate'}}</span></div>
         <div *ngIf="article['_kmd']['ect']!= article['_kmd']['lmt']" class="mb-1 text-muted small">Modified:
            <span>{{article['_kmd']['lmt'] | date: 'fullDate'}}</span></div>
         <p class="card-text mb-auto">{{article.content | slice:0:100}}...</p>
         <button class="btn btn-outline-primary btn-sm" role="button" routerLink="{{article._id}}">Continue reading</button>
      </div>
      <img *ngIf="article.image" class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]"
         src="{{article.image}}">
   </div>
</ng-template>