<div class="jumbotron">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <h1 class="label">Edit article</h1>
        <form [formGroup]="editArticleForm" (submit)="editArticle()">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-heading"></i> </span>
            </div>
            <input class="form-control" formControlName="headline" placeholder="Enter yout title here" [(ngModel)]="article.headline">
          </div>
          <div class="alert alert-danger" *ngIf="f.headline?.touched && f.headline.errors?.required">
            This field is required!
          </div>
          <div class="alert alert-danger" *ngIf="f.headline.errors?.maxlength">
            The text must be at least {{f.headline.errors?.maxlength.requiredLength}} characters
          </div>
          <div class="form-group">
            <textarea class="form-control" rows="8" formControlName="content"
              placeholder="Enter yout content here" [(ngModel)]="article.content"></textarea>
            <div class="alert alert-danger" *ngIf="f.content?.touched && f.content.errors?.required">
              This field is required!
            </div>
            <div class="alert alert-danger" *ngIf="f.content.errors?.minlength">
              The text must be at least {{f.content.errors?.minlength.requiredLength}} characters
            </div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-image"></i> </span>
            </div>
            <input class="form-control" formControlName="image" placeholder="Add image link" [(ngModel)]="article.image">
          </div>
          <button type="submit" class="btn btn-primary btn-block" [disabled]="editArticleForm.invalid"> Edit article
          </button>
        </form>
      </div>
    </div>
  </div>