@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);


#elements {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .jumbotron {
    margin-bottom: -4rem;
    width: 100%;
}

#commentBox {
    background-color: #f2f3f5;
  }

  #buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }


  

		