<div class="jumbotron">
  <div id="elements">
    <span class="fa fa-pencil">{{commentInfo['author']}}</span> &nbsp;
    <span class="fa fa-clock-o">{{commentInfo['_kmd']['ect'] | date: 'HH:mm'}}</span> &nbsp;
    <span class="fa fa-calendar">{{commentInfo['_kmd']['ect'] | date: 'fullDate'}}</span>
  </div>
  <textarea readonly class="form-control" id="commentBox" rows="3">{{commentInfo['content']}}</textarea>
  <div *ngIf="isAuthor(commentInfo)" id="buttons">
    <button type="button" class="btn btn-success" >Edit
      comment</button>
    &nbsp;
    <button type="button" class="btn btn-danger" >Delete
      comment</button>
  </div>
</div>
