<div class="jumbotron">
  <div id="elements">
    <div *ngIf="commentInfo['_kmd']['ect']== commentInfo['_kmd']['lmt']">
        <span class="fa fa-pencil">Commented by: {{commentInfo['author']}}</span> &nbsp;
        <span class="fa fa-calendar">{{commentInfo['_kmd']['ect'] | date: 'fullDate'}}</span>
        <span class="fa fa-clock-o">{{commentInfo['_kmd']['ect'] | date: 'HH:mm'}}</span> &nbsp;
    </div>
    <div *ngIf="commentInfo['_kmd']['ect']!= commentInfo['_kmd']['lmt']">
        <span class="fa fa-pencil">Modified by: {{commentInfo['author']}}</span> &nbsp;
        <span class="fa fa-calendar">{{commentInfo['_kmd']['lmt'] | date: 'fullDate'}}</span>
        <span class="fa fa-clock-o">{{commentInfo['_kmd']['lmt'] | date: 'HH:mm'}}</span> &nbsp;
    </div>
  </div>
  <textarea readonly class="form-control" id="commentBox" rows="3">{{commentInfo['content']}}</textarea>
  <div *ngIf="isAuthor(commentInfo)" id="buttons">
    <button type="button" class="btn btn-success" routerLink="/articles/details/{{commentInfo.articleId}}/comments/{{commentInfo._id}}/edit">Edit
      comment</button>
    &nbsp;
    <button type="button" (click)="deleteComment(commentInfo['_id'])" class="btn btn-danger" >Delete
      comment</button>
  </div>
</div>
